<html>
    <head><title>DFS</title></head>
    <body>
        <link rel="stylesheet" href='/static/main.css'/>
        <div>
            <form action="/" method="post">
                <img src="static/5g.png"><br>
                <select name="channel" method="POST" action="/">
                    {% for x in channel %}
                        <option value="{{x}}" name="selch">{{x}}</option>
                    {% endfor %}
                  </select>
                <input  type="submit" value="submit">
                <p>{{ out }}</p>
            </form>
        </div>
    </body>
</html>